node_modules/
TODO.md
.env
# will add data images to separate folder above git repo when moved to cloud

# react
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
DvD-REACT/dist/
DvD-REACT/web-build/
